@import "./layout.css";

main {
	--color-prettylights-syntax-comment: oklch(.70 .03 var(--hue));
	--color-prettylights-syntax-constant: oklch(.75 .10 calc(var(--hue) + 30));
	--color-prettylights-syntax-entity: oklch(.75 .12 calc(var(--hue) + 60));
	--color-prettylights-syntax-storage-modifier-import: oklch(.80 .05 var(--hue));
	--color-prettylights-syntax-entity-tag: oklch(.75 .12 calc(var(--hue) + 120));
	--color-prettylights-syntax-keyword: oklch(.75 .12 calc(var(--hue) - 60));
	--color-prettylights-syntax-string: oklch(.75 .10 calc(var(--hue) + 180));
	--color-prettylights-syntax-variable: oklch(.75 .10 calc(var(--hue) - 30));
	--color-prettylights-syntax-brackethighlighter-unmatched: oklch(.70 .15 0);
	--color-prettylights-syntax-invalid-illegal-bg: oklch(.60 .15 0);
	--color-prettylights-syntax-carriage-return-bg: oklch(.60 .15 0);
	--color-prettylights-syntax-string-regexp: oklch(.75 .12 calc(var(--hue) + 120));
	--color-prettylights-syntax-markup-list: oklch(.75 .08 calc(var(--hue) + 40));
	--color-prettylights-syntax-markup-heading: oklch(.75 .10 calc(var(--hue) + 30));
	--color-prettylights-syntax-markup-italic: oklch(.80 .05 var(--hue));
	--color-prettylights-syntax-markup-bold: oklch(.85 .05 var(--hue));
	--color-prettylights-syntax-markup-deleted-text: oklch(.70 .15 0);
	--color-prettylights-syntax-markup-deleted-bg: oklch(.30 .05 0);
	--color-prettylights-syntax-markup-inserted-text: oklch(.75 .12 calc(var(--hue) + 120));
	--color-prettylights-syntax-markup-inserted-bg: oklch(.30 .05 calc(var(--hue) + 120));
	--color-prettylights-syntax-markup-changed-text: oklch(.75 .10 calc(var(--hue) - 30));
	--color-prettylights-syntax-markup-changed-bg: oklch(.30 .05 calc(var(--hue) - 30));
	--color-prettylights-syntax-markup-ignored-text: oklch(.40 .02 var(--hue));
	--color-prettylights-syntax-markup-ignored-bg: oklch(.75 .10 calc(var(--hue) + 30));
	--color-prettylights-syntax-meta-diff-range: oklch(.75 .12 calc(var(--hue) + 60));
	--color-prettylights-syntax-brackethighlighter-angle: oklch(.70 .03 var(--hue));
	--color-prettylights-syntax-sublimelinter-gutter-mark: oklch(.60 .03 var(--hue));
	--color-prettylights-syntax-constant-other-reference-link: oklch(.75 .10 calc(var(--hue) + 180));

	--color-btn-text: white;
	--color-btn-bg: oklch(.33 .035 var(--hue));
	--color-btn-border: rgba(255, 255, 255, .1);
	--color-btn-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	--color-btn-inset-shadow: inset 0 1px 0 rgba(255, 255, 255, .05);
	--color-btn-hover-bg: oklch(.38 .04 var(--hue));
	--color-btn-hover-border: rgba(255, 255, 255, .1);
	--color-btn-active-bg: oklch(.43 .045 var(--hue));
	--color-btn-active-border: rgba(255, 255, 255, .1);
	--color-btn-selected-bg: oklch(.43 .045 var(--hue));

	--color-btn-primary-bg: oklch(.75 .14 var(--hue));
	--color-btn-primary-border: rgba(0, 0, 0, .2);
	--color-btn-primary-shadow: 0 1px 0 rgba(0, 0, 0, .2);
	--color-btn-primary-inset-shadow: inset 0 1px 0 rgba(255, 255, 255, .05);
	--color-btn-primary-hover-bg: oklch(.70 .16 var(--hue));
	--color-btn-primary-hover-border: rgba(0, 0, 0, .2);
	--color-btn-primary-selected-bg: oklch(.65 .18 var(--hue));
	--color-btn-primary-selected-shadow: inset 0 1px 0 rgba(0, 0, 0, .3);
	--color-btn-primary-disabled-text: rgba(255, 255, 255, .5);
	--color-btn-primary-disabled-bg: oklch(.50 .08 var(--hue));
	--color-btn-primary-disabled-border: rgba(0, 0, 0, .2);

	--color-action-list-item-default-hover-bg: oklch(.30 .035 var(--hue));
	--color-segmented-control-bg: oklch(.33 .035 var(--hue));
	--color-segmented-control-button-bg: oklch(.23 .015 var(--hue));
	--color-segmented-control-button-selected-border: oklch(.75 .14 var(--hue));

	--color-fg-default: white;
	--color-fg-muted: oklch(.75 .03 var(--hue));
	--color-fg-subtle: oklch(.70 .03 var(--hue));

	--color-canvas-default: oklch(.23 .015 var(--hue));
	--color-canvas-overlay: oklch(.23 .015 var(--hue));
	--color-canvas-inset: oklch(.17 .015 var(--hue));
	--color-canvas-subtle: rgba(255, 255, 255, .05);

	--color-border-default: rgba(255, 255, 255, .1);
	--color-border-muted: rgba(255, 255, 255, .08);
	--color-neutral-muted: rgba(255, 255, 255, .1);

	--color-accent-fg: oklch(.75 .14 var(--hue));
	--color-accent-emphasis: oklch(.75 .14 var(--hue));
	--color-accent-muted: oklch(.65 .08 var(--hue), .4);
	--color-accent-subtle: oklch(.30 .025 var(--hue));

	--color-success-fg: oklch(.75 .14 180);
	--color-attention-fg: oklch(.75 .14 60);
	--color-attention-muted: oklch(.65 .10 60, .4);
	--color-attention-subtle: oklch(.30 .025 60);
	--color-danger-fg: oklch(.65 .2 25);
	--color-danger-muted: oklch(.65 .15 0, .4);
	--color-danger-subtle: oklch(.30 .025 0);

	--color-primer-shadow-inset: inset 0 1px 0 rgba(255, 255, 255, .05);

	--color-scale-gray-1: oklch(.33 .035 var(--hue));
	--color-scale-blue-1: oklch(.40 .05 var(--hue));

	--color-social-reaction-bg-hover: oklch(.38 .04 var(--hue));
	--color-social-reaction-bg-reacted-hover: oklch(.45 .07 var(--hue));
}
