.gsc-loading {
	justify-content: center;
	min-height: 350px;
	gap: 0;

	.gsc-loading-image {
		background-image: url("https://cdn.jsdelivr.net/gh/Yamrc/Yamrc/static/giscus-loading.webp");
		height: 150px;
		width: 170px;
	}
}

.gsc-main {
	gap: 1rem;

	.gsc-reactions {
		.gsc-reactions-menu .gsc-reactions-popover {
			margin-top: 0;
			box-shadow:
				0 0 #0000,
				0 0 #0000,
				0 20px 25px -5px rgb(0 0 0 / 0.1),
				0 8px 10px -6px rgb(0 0 0 / 0.1);
			border-radius: 10.5px;
			background-color: var(--color-canvas-default);
		}
	}

	.gsc-comments {
		gap: 1rem;

		.gsc-header {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}

		.gsc-reply-box button,
		.gsc-comment-box button {
			border: none;
		}

		.gsc-comment-box {
			border-radius: 10.5px;
			overflow: hidden;
		}

		.gsc-timeline {
			.gsc-comment {
				& > div {
					border: none;
					border-radius: 10.5px !important;
					padding: 21px 17.5px;
					background-color: var(--color-canvas-inset);

					.gsc-comment-header,
					.gsc-comment-content {
						padding: 0;
					}

					.gsc-comment-author,
					.gsc-reply-author {
						& > div span {
							border-color: var(--color-accent-emphasis);
							background-color: var(--color-accent-subtle);
						}
					}

					.gsc-comment-header {
						margin-bottom: 0.5rem;
						padding-bottom: 0.25rem;
						padding-top: 0.25rem;
					}

					.gsc-comment-content {
						margin-left: 0.5rem;
						padding-bottom: 0.5rem;
					}

					.gsc-comment-footer {
						margin-bottom: 0.25rem;
						.gsc-comment-reactions,
						.gsc-comment-replies-count {
							margin: 0;
						}
					}

					.gsc-replies {
						padding-top: 0;
						border: none;

						.gsc-reply {
							padding-top: 0.75rem;
							padding-bottom: 0.5rem;
						}
					}

					.gsc-reply-box,
					.gsc-comment-box-is-reply {
						margin-top: 0.75rem;
					}

					.gsc-reply-box {
						border: none;
						border-radius: 10.5px;
						padding-inline-start: 0.5rem;
						padding-inline-end: 0.5rem;
						background-color: var(--color-canvas-default);
					}
				}
			}

			.gsc-pagination {
				padding: 0;
				margin: 0;

				.gsc-pagination-item {
					width: 100%;
					border: none;
				}
			}
		}
	}
}

main {
	--color-prettylights-syntax-invalid-illegal-text: white;
	--color-prettylights-syntax-carriage-return-text: white;
	--color-btn-primary-text: white;

	* {
		transition-duration: 0.15s;
		transition-property:
			background-color, color, border-color, box-shadow, opacity;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	}
}
